

.column {
    width: 30%;
    background-color: #f9f9f9;
    padding: 2rem;
    border: 10px solid #448eb1;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-header{
    font-size: 2.625rem;
    margin-bottom: 1rem;
    font-family: 'Dancing Script', Arial, sans-serif;
}

.news-header {
    font-size: 3.625rem;
    margin-bottom: 1rem;
    font-family: 'Dancing Script', Arial, sans-serif;
}

.news-body p {
    margin-bottom: 2em; /* Adjust the space between paragraphs as needed */
}

.text-body p{
    margin-bottom: 2em;
}

.text-body, .news-body {
    flex-grow: 1;
    overflow-y: auto;
    font-size: 1.1rem; /* Increased text size */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content to the top */
    align-items: flex-start; /* Align content to the left */
    text-align: left; /* Align text to the left */
    padding: 1rem; /* Add padding for better readability */
}

.image-placeholder {
    width: 100%;
    height: 33%;
    background-color: #e0e0e0;
    border: 1px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.image-placeholder img {
    max-width: 100%;
    height: auto;
}
