
/* Grid Container Setup */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Three columns */
    gap: 1rem;
    padding: 1rem;
}

.grid-item {
    background-color: #f9f9f9;
    padding: 2rem;
    border: 1px solid #ccc;
}

.grid-item form {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 1em;
}

label {
    display: inline-block;
    min-width: 90px;
    text-align: right;
}

input,
textarea {
    font: 1em sans-serif;
    width: calc(100% - 100px); /* Adjust width to leave space for labels */
    box-sizing: border-box;
    border: 1px solid #999;
    padding: 0.5em;
    margin-top: 0.5em;
}

input:focus,
textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    height: 5em;
}

.button {
    padding-left: 90px;
    margin-top: 1em;
}

button {
    margin-left: 0.5em;
    padding: 0.5em 1em;
    background-color: var(--accent2-color);
    color: var(--white-color);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4CAF50;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    background-color: var(--footer-background);
    color: var(--text-color);
    font-size: 2em;
    margin-top: auto; /* Push footer to the bottom */
}
  
.footer-right a {
    color: var(--text-color);
    text-decoration: none;
}
  
.footer-right a:hover {
    text-decoration: underline;
}

/* Specific style for "Contact Us" link */
footer a[href="contactus.html"] {
    color: #000000; /* Change color to black */
}
  
footer a[href="contactus.html"]:hover {
    color: #000000; /* Ensure hover color remains black */
}

/* Media queries for responsiveness */
@media screen and (max-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
    }

    .grid-item-title {
        grid-column: 1 / -1; /* Span across all columns */
    }
}

@media screen and (max-width: 900px) {
    .grid-container {
        grid-template-columns: 1fr; /* 1 column on smaller screens */
    }

    .grid-item {
        padding: 10px; /* Adjust padding for smaller screens */
    }
}
