

.title-main {
  font-size: .8em;
  text-align: center;
}

.title-sub {
  font-size: 2.625rem;
  margin-bottom: 2rem;
  font-family: 'Dancing Script', Arial, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px; /* Gap between grid items */
}

.grid-item {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid-item img {
  max-width: 100%; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Maintain image aspect ratio and cover the entire space */
  margin: 0 auto; /* Center horizontally */
  display: block; /* Ensure it behaves as a block element */
  border: 15px solid var(--footer-background); /* Add a border */
  padding: 0px; /* Add padding inside the border */
}

.grid-item-title {
  grid-column: 1 / -1; /* Span across all columns */
  font-size: 4em;
}

.grid-item-1 {
  grid-column: 1/2; /* Column 1 */
  grid-row: 2/3; /* Row 2 */
}

.grid-item-1 p {
  text-align: left; /* Change alignment to left */
  font-size: 1.2em;
}

.grid-item-2 {
  grid-column: 1/2; /* Column 2 */
  grid-row: 3/4; /* Row 2 */
}

.grid-item-3 {
  grid-column: 2/3; /* Column 1 */
  grid-row: 3/4; /* Row 3 */
}

.grid-item-3 p {
  text-align: left; /* Change alignment to left */
  font-size: 1.2em;
}

.grid-item-4 {
  grid-column: 2/3; /* Column 3 */
  grid-row: 2/3; /* Row 2 */
  align-content: center;
}

.grid-item-title {
  grid-column: 1 / -1; /* Span across all columns */
  font-size: 3vw; /* Responsive font size based on viewport width */
  display: block;
  text-align: center;
}
