

.title-main {
    font-size: .8em;
    text-align: center;
    letter-spacing: 0.05em; /* Adjust letter spacing for better readability */
    line-height: 1.5em; /* Adjust line height for better readability */
}

.title-sub {
    font-size: 2.625rem;
    margin-bottom: 1rem;
    font-family: 'Dancing Script', Arial, sans-serif;
    letter-spacing: 0.05em; /* Adjust letter spacing for better readability */
    line-height: 1.5em; /* Adjust line height for better readability */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; /* Gap between grid items */
}

.grid-item {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid-item img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 20px;
    border: 10px solid var(--footer-background); /* Add a  border */
    padding: 0px; /* Add padding inside the border */
}

.grid-item-title {
    grid-column: 1 / -1; /* Span across all columns */
    font-size: 4em;
    letter-spacing: 0.05em; /* Adjust letter spacing for better readability */
    line-height: 1.5em; /* Adjust line height for better readability */
}

.grid-item-1 {
    grid-column: 1; /* Column 1 */
    grid-row: 2; /* Row 2 */
}

.grid-item-1 p {
    text-align: left;
    letter-spacing: 0.05em; /* Adjust letter spacing for better readability */
    line-height: 1.5em; /* Adjust line height for better readability */
}

.grid-item-2 {
    grid-column: 2; /* Column 2 */
    grid-row: 2; /* Row 2 */
}

.grid-item-3 {
    grid-column: 3; /* Column 3 */
    grid-row: 2; /* Row 2 */
}

.grid-item-3 p {
    text-align: left;
    letter-spacing: 0.05em; /* Adjust letter spacing for better readability */
    line-height: 1.5em; /* Adjust line height for better readability */
}

.grid-item-4 {
    grid-column: 1; /* Column 1 */
    grid-row: 3; /* Row 3 */
}

.grid-item-5 {
    grid-column: 2; /* Column 2 */
    grid-row: 3; /* Row 3 */
}

.grid-item-5 p {
    text-align: left;
    letter-spacing: 0.05em; /* Adjust letter spacing for better readability */
    line-height: 1.5em; /* Adjust line height for better readability */
}

.grid-item-6 {
    grid-column: 3; /* Column 3 */
    grid-row: 3; /* Row 3 */
}

.grid-item-title {
    grid-column: 1 / -1; /* Span across all columns */
    font-size: 3vw; /* Responsive font size based on viewport width */
    display: block;
    text-align: center;
    letter-spacing: 0.05em; /* Adjust letter spacing for better readability */
    line-height: 1.5em; /* Adjust line height for better readability */
}

